!
URxvt.scrollBar: false
URxvt.scrollstyle: plain

! font
URxvt.font: xft:hack:size=10

! special
URxvt.foreground:   #1A0F09
URxvt.background:   #FFFFFF
URxvt.cursorColor:  #1A3ED0

! black
URxvt.color0:       #ffff00
URxvt.color8:       #1a3ed0

! red
URxvt.color1:       #dc1c1c
URxvt.color9:       #d73737

! green
URxvt.color2:       #49b312
URxvt.color10:      #429616

! yellow
URxvt.color3:       #f04a03
URxvt.color11:      #cfb017

! blue
URxvt.color4:       #3e63d5
URxvt.color12:      #ffffff

! magenta
URxvt.color5:       #b854d4
URxvt.color13:      #b854d4

! cyan
URxvt.color6:       #1fad83
URxvt.color14:      #1fad83

! white
URxvt.color7:       #8c8040
URxvt.color15:      #2c75c1
