show_frame=false
fg_set=true
bg_set=true
timezone=
width_set=false
height_set=false
lines_vertically=true
rotation=0
data0=%A, %d. %B %Y - %H:%M
font0=Beckett 16
tooltip=%A, %d. %B %Y (KW %V)
hib_timing=false
fg=0R 0G 0B
bg=65535R 65535G 65535B

