[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[CA96A0CF96A0BD77]
row=1
col=0

[B45AD9075AD8C6F0]
row=2
col=0

[4E7C-0CE0]
row=0
col=0

[de0d94bd-1182-492a-b072-2955a0d03446]
row=3
col=0

[Papierkorb]
row=4
col=0

[/]
row=5
col=0

[/home/byron]
row=6
col=0

