[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[de0d94bd-1182-492a-b072-2955a0d03446]
row=4
col=0

[CA96A0CF96A0BD77]
row=0
col=0

[6EC65E26C65DEEB9]
row=1
col=0

[Papierkorb]
row=5
col=0

[/]
row=2
col=0

[/home/byron]
row=3
col=0

