body {
	background: #ededed url(../images/bg-header.png) repeat-x center center;
	line-height: 1;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#header {
	margin: 0 auto;
	padding: 0;
	width: 0px;
}
#header .section {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#header .section .logo {
	float: left;
	margin: 0;
	padding: 0 0 0 00px;
	width: 324px;
}
#header .section .logo a {
	background: url(../images/bg-logo.png) repeat-x top left;
	color: #fff;
	display: block;
	font-family: 'Arimo-Bold';
	font-size: 60px;
	font-weight: normal;
	height: 130px;
	line-height: 130px;
	margin: 0;
	padding: 0;
	text-align:left;
	text-decoration: none;
	text-transform: uppercase;
	width: 1240px;
}
#header .section ul {
	display: inline-block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0 0 0;
}
#header .section ul li {
	background: url(../images/bg-nav-right.gif) no-repeat top right;
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0 0px;
	padding: 0;
}
#header .section ul li a {
	background: url(../images/bg-nav-left.gif) no-repeat top left;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	height: 30px;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin: 0;
	padding: 0 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#header .section ul li a:hover {
	color: #ccc;
}
#header .section ul li.selected {
	background: url(../images/bg-nav-right-selected.gif) no-repeat top right;
}
#header .section ul li.selected a {
	background: url(../images/bg-nav-left-selected.gif) no-repeat top left;
}
#header .article {
	background: #fff;
	border: 2px solid #5fb3bd;
	border-radius: 4px;
	margin: 0 auto 28px;
	overflow: hidden;
	padding: 0;
	width: 0px;
}
#header .article img {
	display: block;
	float: left;
	margin: 0 00px 0 0;
	padding: 00px;
}
#header .article h1 {
	color: #1b2130;
	font-family: 'ChangaOne';
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	line-height: 50px;
	padding: 0 0 0;
}
#body {
	margin: 10 auto;
	min-height: 800px;
	padding: 0 0 0px;
	width: 1940px;
}
#body > ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#body > ul li {
	float: left;
	list-style: none;
	margin: 0 0px;
	padding: 80px 80px;
	height: 324.67px;
	weight: 250px
}